/* Cover for main wrap (all el)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@400;700&display=swap');
.content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	padding: 1em;
}
*{
	box-sizing: border-box
}
*,
::after,
::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body{
	color: #1f0f04;
	background: #fcfbfa;
	font-family: "Roboto", sans-serif;
}
section.banner {
	background: url(../img/banner-bg.jpg) center/cover;
	color: #fcfbfa;
}
section.select{
	background:  url(../img/select-bg.png);
}
section.reviews{
	background: url(../img/select-bg.png);
}

header{
		width: 100%;
		padding: 0.5rem;
	}
	header nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	header nav a {
		color: black;
	}
	header nav a.logo img {
		width: 10vw;
	}
	header nav ul{
		list-style-type: none;
		place-items: center;
		display: flex;
		padding left: 1rem;
	}
	header nav ul li {
		margin-right: 1rem;
		margin-bottom: 0.5 rem;
	}
footer {
		background-color: #39312d;
	}
	footer .content {
		width: 100%;
		color: white;
	}
	footer .content .footer_main {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	footer .content .footer_main .footer_social ul {
		display: flex;
		list-style-type: none;
		justify-content: center;
		align-items: center;
	}
	footer .content .footer_main .footer_menu ul {
		list-style-type: none;
	}
	footer .content .footer_main .footer_menu ul a {
		color: white;
	}
section.banner {
	min-height: 20vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
section.banner .content {
	text-align: center;
	display: block;
}
.fillings .filling img {
	margin-bottom: 1rem;
	border-radius: 50%;
	filter: sepia(75%);
}
.fillings .filling img:hover {
	filter: sepia(0);
}


/* For index */
.select .select__cakes .select__cake a {
	cursor: pointer; /* курсор меняется со стандартной стрелки на указатель */
}
.advantages .content {
		width: 100%;
		justify-content: space-around;
		background: #39312d; 
		color: #fcfbfa
	}
	.advantages .advantage img {
		margin: 0 auto;
		max-width: 80%;
	}
	.advantages .advantage p {
		display: none;
	}
select .select__cakes .select__cake {
	margin-bottom: 1rem;
}
.select .content h2 {
	text-align: center;
	width: 100%;
}
.select .select__cakes .select__cake a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 1rem;
	background: #39312d;
	border: 3px solid #39312d;
	color: #fcfbfa;
}
.select .select__cakes .select__cake img {
	width: 100%;
}
.about{
	background: url(../img/about-bg.jpg);
	background-position: center;
	min-height: 20vw
}
section.about .about__wrap{
	width: 100%;
}
section.about .about__wrap .about__text{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 50%;
}
.reviews .content .review img {
		display: none;
	}
	.reviews .content .review .reviews_images {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.reviews .content .review .review__text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		margin: 1rem;
	}
	.reviews .content .review .review__text blockquote {
		padding: 0.5rem;
		margin: 0.5rem;
	}

section.feedback .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
section.feedback .content form input[type="submit"] {
	display: block;
	width: 100%;
	text-align: center;
	padding: 1rem;
	background: #39312d;
	border: 3px solid #39312d;
	color: #fcfbfa;
}
section.feedback .content form .form__download {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	section.feedback .content form .form__download label {
		text-decoration: underline;
	}
	section.feedback .content form .form__download input {
		display: none;
	}
section.feedback .content form .form__contact {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}
	section.feedback .content form .form__contact input {
		width: 100%;
		margin-bottom: 0.5rem;
		color: white;
		padding: 1rem;
		border: 1px solid white;
		background: transparent;
	}
section.feedback .content form .form__submit {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
section.feedback .content form .form__submit input[type="checkbox"] {
	appearance: none;
	border: 3px solid white;
	position: relative;
	min-height: 2rem;
	width: 2rem;
	margin-right: 1rem;
	margin-bottom: 0;
}
/* добавляем новый значок для выбранного checkbox-а */
section.feedback .content form .form__submit input[type="checkbox"]::before {
	visibility: hidden;
	position: absolute;
	content: "\2714";
	color: #fcfbfa;
	font-size: 2.2em;
	left: 0;
	top: -5px;
}
/* показываем значок если checkbox выбран */
section.feedback .content form .form__submit input[type="checkbox"]:checked::before {
	visibility: visible;
}
.map iframe {
	width: 100%;
	height: 400px;
}


/* For pages cakes */
.cakes .cake {
		width: 90%;
		padding: 1rem;
		margin-bottom: 1rem;
	}
.cakes .cake .cake__descript img { 
	max-width: 90%;
}
.cakes .cake .cake__buy { 
	padding: 0.5rem;
}
.cakes .cake .cake__buy a {
	display: inline-block;
	width: 90%;
	padding: 1rem;
}
.cakes .cake .cake__buy ul { 
	padding-left: 0;
}


/* For page fillings */
header nav ul {
	font-size: 2rem;
}
.filling {
	font-weight: 700;
}
.filling figcaption {
	align-items: center;
}
/* For page cakes */
.delivery h1 {
	font-size: 1.5rem;
}
.delivery .delivery__price table {
	font-size: 0.7rem;
	font-style: italic;
}
section.reviews .content .review .review__text blockquote{
	border: 1px;
	border-color: #39312d18;
	background-image: linear-gradient(135deg, #fcfbfa 50%, #f0f0ef 50%);
}
section.feedback{
	background: url(../img/feedback-bg.jpg);
	color: white;
}
.cake{
	background-color: #39312d;
	color: #fcfbfa;
}
.fillings .content a{
	color: #39312d;
}
.fillings .filling img{
	border-radius: 50%;
}
.delivery__price tbody{
	padding: 0.5rem;
	border-collapse: collapse;
}
.delivery__price thead{
	border-bottom: 3px;
	border-bottom-color: #39312d;
}


/* Adaptive design */
@media (min-width: 768px) {
	header a { font-size: 1.2rem; }
	header a.logo img { width: 15vw; }
}
@media (min-width: 1024px) {
	header a { font-size: 1.5rem; }
	header a.logo img { width: 12vw;
}
}
@media (min-width: 1440px) {
	header a { font-size: 2rem; }
	header a.logo { width: 10vw; }
}
@media (min-width: 590px) {
	section.banner.first { min-height: 30vw; }
	section.banner h1 { font-size: 3rem; }
	section.banner h2 { font-size: 1.5rem; }
}
@media (min-width: 1024px) {
	section.banner.first { min-height: 40vw; }
	section.banner h1 { font-size: 4rem; }
	section.banner h2 { font-size: 2rem; }
}
@media (min-width: 1440px) {
	section.banner h1 { font-size: 6rem; }
	section.banner h2 { font-size: 4rem; }
}
@media (min-width: 590px) {
	footer .footer__main {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}
@media (min-width: 768px) {
	.advantages .advantage {
		display: flex;
		flex-direction: column;
	}
	.advantages .advantage p {
		display: inline-block;
	}
}
@media (min-width: 1024px) {
	.advantages .advantage img {
		transition: all 0.8s ease-in-out;
}
	.advantages .advantage img:hover {
		transform: scale(1.3);
}
@media (min-width: 590px) {
	.select .select__cakes {
		display: flex;
		justify-content: space-between;
	}
	.select .select__cakes .select__cake { width: 45%; }
	.select .select__cakes .select__cake a { font-size: 1.2rem; }
}
/* добавляем анимацию к кнопкам */
@media (min-width: 1024px) {
	.select .select__cakes .select__cake button {
		transition: background 0.8s ease-out;
	}
	.select .select__cakes .select{
		background: #fcfbfa;
		color: #39312d;
	}
}
@media (min-width: 590px) {
	.about .about__wrap { font-size: 1.5rem; }
}
@media (min-width: 768px) {
	.about .about__wrap { width: 50%; }
}
@media (min-width: 1440px) {
	.about .about__wrap { font-size: 2rem; }
}
@media (min-width: 590px) {
.reviews .content .review .review__text blockquote { font-size: 1.2rem; }
}
@media (min-width: 768px) {
	.reviews .content .review { display: flex; }
	.reviews .content .review img {
		display: block;
		width: 10rem;
		height: 10rem;
		margin-bottom: 0.5rem;
		border-radius: 50%;
	}
}
@media (min-width: 1440px) {
	.reviews .content .review .review__text blockquote { font-size: 1.8rem; }
}
@media (min-width: 768px) {
	.feedback { font-size: 1.2rem; }
	.feedback h3 { font-size: 3rem; }
}
@media (min-width: 768px) {
	.cakes .cake .cake__buy .cake__buy__wrap {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}
}
@media (min-width: 1024px) {
	.cakes .cake .cake__descript {
		display: flex;
}
	.cakes .cake .cake__buy {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 1.5rem;
	}
	.cakes .cake .cake__buy a {
		display: inline-block;
		width: 30%;
		height: min-content;
		transition: all 0.8s ease-in;
	}
	.cakes .cake .cake__buy a:hover {
		text-decoration: none;
		background: #fcfbfa;
		color: #39312d;
		transform: scale(1.2);
	}
}
@media (min-width: 1200px) {
	.cakes .cake {
		font-size: 1.5rem;
}
	.cakes .cake .cake__buy a {
		font-size: 2rem;
	}
}
@media (min-width: 768px) {
	.fillings h2 {
		font-size: 3rem;
}
	.fillings .content a {
		font-size: 3.5rem;
	}
}
/*------------------------ СТРАНИЦА DELIVERY.HTML ------------------------*/
@media (min-width: 425px) {
	.delivery .delivery__price table {
		font-size: 1rem;
	}
}
@media (min-width: 590px) {
	.delivery .delivery__price table {
		font-size: 1.2rem;
	}
}
@media (min-width: 768px) {
	.delivery .delivery__price table {
		font-size: 1.5rem;
	}
}